<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Calcula_AreaWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Calcula_AreaWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44334/Calcula_AreaWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Calcula_AreaWebServiceSoap"
                contract="AreTriangulo_ServiceReference.Calcula_AreaWebServiceSoap"
                name="Calcula_AreaWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>